In [10]:
from weather_helper import get_data, convert_wind_direction
from datetime import datetime

In [3]:
get_data('latest')

,id,datetime,temperature,pressure,humidity,rain,rain_rate,luminance,wind_speed,wind_direction,day,week,month,year
0,60960,2025-03-29 22:30:05,7.18,1006.43,71.3,0.0,0.0,0.0,7.1,180.0,88,12,3,2025

In [8]:
round(get_data("yesterday")['temperature'].max(),1)

np.float64(12.0)

In [9]:
round(get_data("yesterday")['temperature'].max(),1)

np.float64(12.0)

In [18]:
round(get_data('month=3')['rain'].sum(),1)

np.float64(7.3)

In [26]:
data = get_data(datetime(2024, 1, 1), datetime(2024, 1, 31))
data['temperature'].mean()

np.float64(4.982811956899548)

In [32]:
get_data(datetime(2024, 1, 1), datetime(2024, 2, 1))['temperature'].median()

np.float64(5.08)

In [29]:
round(get_data('last7days')['humidity'].min(),1)

np.float64(30.2)

In [12]:
data = get_data(datetime(2024, 1, 28), datetime(2024, 3, 1))
round(data['rain'].sum(),1)

np.float64(128.8)

In [18]:
data = get_data(datetime(2025, 1, 1), datetime(2025, 2, 1))
data['temperature'].mean()

np.float64(2.4333117326057296)

In [19]:
data = get_data(datetime(2025, 2, 1), datetime(2025, 3, 1))
data['temperature'].mean()

np.float64(3.371646525679758)

In [17]:
data = get_data(datetime(2025, 3, 1), datetime(2025, 4, 1))
data['temperature'].median()

np.float64(6.72)